DB_URI=mongodb://localhost:27017/alias-key-mgmt
PORT=5001
REFRESH_SECRET="thisistext"
ACCESS_SECRET="thisistext"
FILE_UPLOAD_LOCAL_PATH=./uploads
NODE_ENV="development"
API_URL1="http://localhost:5001"
FRONTEND_URL1="http://localhost:5174"
